<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
					backupStaticAttributes="false"
					colors="true"
					convertErrorsToExceptions="true"
					convertNoticesToExceptions="true"
					convertWarningsToExceptions="true"
					processIsolation="false"
					stopOnFailure="false"
					bootstrap="./tests/bootstrap.php"
					>

	<testsuites>
		<testsuite name="PHPFUI\InstaDoc Unit tests">
			<directory>./tests/</directory>
		</testsuite>
	</testsuites>
	<php>
		<env name="PHPFUI\HTMLUnitTester\Extensions_url" value="http://validator.w3.org/nu/"/>
		<env name="PHPFUI\HTMLUnitTester\Extensions_delay" value="500000"/>
	</php>
</phpunit>