<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
					colors="true"
					displayDetailsOnTestsThatTriggerWarnings="true"
					displayDetailsOnTestsThatTriggerDeprecations="true"
					processIsolation="false"
					stopOnFailure="false"
					bootstrap="./tests/bootstrap.php"
					>
	<testsuites>
		<testsuite name="PHPFUI\InstaDoc Unit tests">
			<directory>./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>