.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: black;
}

.hljs,
.hljs-subst {
  color: #D8DEE9;
}

.hljs-selector-tag {
  color: #81A1C1;
}

.hljs-selector-id {
  color: #8FBCBB;
  font-weight: bold;
}

.hljs-selector-class {
  color: #8FBCBB;
}

.hljs-selector-attr {
  color: #8FBCBB;
}

.hljs-selector-pseudo {
  color: #88C0D0;
}

.hljs-addition {
  background-color: LightGreen;
}

.hljs-deletion {
  background-color: LightPink;
}

.hljs-built_in {
  color: #8FBCBB;
	}

.hljs-type {
  color: White;
	font-weight: bold;
}

.hljs-class {
  color: White;
}

.hljs-function {
  color: White;
}

.hljs-function > .hljs-title {
  color: White;
	font-weight: bold;
}

.hljs-keyword {
	color: yellow;
	}

.hljs-literal {
  color: LimeGreen;
	}

.hljs-symbol {
  color: #81A1C1;
}

.hljs-number {
  color: Plum;
}

.hljs-regexp {
  color: #EBCB8B;
}

.hljs-string {
  color: LimeGreen;
}

.hljs-title {
  color: Red;
}

.hljs-params {
  color: PapayaWhip;
}

.hljs-bullet {
  color: #81A1C1;
}

.hljs-code {
  color: white;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-formula {
  color: #8FBCBB;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link:hover {
  text-decoration: underline;
}

.hljs-quote {
  color: SeaGreen;
}

.hljs-comment {
  color: Cyan;
}

.hljs-doctag {
  color: Aqua;
	font-weight: bold;
}

.hljs-meta,
.hljs-meta-keyword {
  color: SeaShell;
}

.hljs-meta-string {
  color: #A3BE8C;
}

.hljs-attr {
  color: #8FBCBB;
}

.hljs-attribute {
  color: #D8DEE9;
}

.hljs-builtin-name {
  color: white;
  font-weight: bold;
}

.hljs-name {
  color: #81A1C1;
}

.hljs-section {
  color: #88C0D0;
}

.hljs-tag {
  color: #81A1C1;
}

.hljs-variable {
  color: Magenta;
}

.hljs-template-variable {
  color: #D8DEE9;
}

.hljs-template-tag {
  color: #5E81AC;
}

